@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Seaweed+Script&display=swap');

body {
    margin: 0;
    font-family: "Luckiest Guy",Arial, sans-serif;
    overflow-x: hidden;
}

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}


nav {
    width: 220px;
    background: #f0e68c;
    height: 100vh;
    padding-top: 30px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 8px 16px;
    display: block;
    border-radius: 4px;
    transition: background 0.2s;
}

nav ul li a.active,
nav ul li a:hover {
    background: #ffe4b5;
}

.main-content {
    position: relative;
    left: 220px;
    padding: 40px;
    min-height: 100vh;
}

footer {
    position: relative;
    left: 240px;
    font-size: 16px;
    margin-top: 100px;
}