.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.card {
  background: #f0e68c;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transition:  0.2s;
}

.card:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
    transform: translateY(-15px);
}

.card-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  text-align: center;
  color: #2a3d66;
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

.card-btn {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  background: #f7ca3e;
  color: #2a3d66;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.2s, color 0.2s;
  text-decoration: none;
}

.card-btn:hover {
  background: #ffe066;
  color: #1a2540;
}

.history-quote {
    font-size: 2rem;
    font-weight: bold;
    color: #2a3d66;
    margin-bottom: 1rem;
    display: inline-block;
}

.citation {
    background: #f7f9fc;
    padding: 1.5rem;
    border-radius: 1rem;
    font-style: italic;
    box-shadow: 0 2px 8px rgba(42,61,102,0.08);
    color: #222;
    margin-bottom: 2rem;
}

blockquote {
    font-size: 2rem;
}

@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
    blockquote {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
    blockquote {
        font-size: 1.2rem;
    }
}

