

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content .main-content{
  left: 0 !important;
  padding: 0 0px !important; /* это для отсупа и без багов */
}

/* все картинки квадратные */
img {
    width: 250px;
    height: auto;
    margin: 10px;
    border-radius: 0 !important;   /* !important перебивает круглый стиль */
}

/* одна картинка круглая */
.round {
    border-radius: 50% !important;
    border: 5px solid #ffd84d;
}


/* Выбор Элементалника */
body {
    background-color: #f7fafc;  /* мягкий фон))) */
    color: #111;
    font-style: italic;
    font-size: 18px;
    text-decoration: underline 2px solid #719870;
    margin: 30px 0 30px 40px;
}

/* зголовки */
h1, h2, h3 {
    margin: 20px 0;
    text-align: center;
}

/* Селекторы */
.banner {
    background: #fff5cc;
    padding: 20px;
    border: 2px solid #ffe680;
    border-radius: 10px;
    margin: 20px;
}

/* еще селектор */
#top-banner {
    text-align: center;
    background: #fffacd;
    padding: 15px;
    border-radius: 8px;
}

/* Еще еще селектор */
nav a {
    display: block;
    padding: 10px 16px;
    font-weight: 900;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover,
nav a.active {
    background: #fff7a6;
    border-radius: 6px;
}

/* Цвет и орентация фона */
section {
    background: #ffffff;
    margin: 20px;
    padding: 20px;
    border: 2px solid #eee;
    border-radius: 8px;
}

/* коробка */
.products {
    margin: 20px;
    padding: 20px;
    border: 2px dashed #ccc;
}

/* Фото */
img {
    width: 250px;
    height: auto;
    margin: 10px;
    border-radius: 50%;
    
}

/* одна картинка круглая */
.round {
    border-radius: 50%;
    border: 5px solid #ffd84d;
}

/* Форма */
form input,
form textarea,
form button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-weight: 900; /* толстый текст и тут */
}

form button {
    background: #719870;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
form button:hover {
    background: #5a7a5a;
}

/* Адвансед типо */
h2::before {
    content: "★ ";
    color: gold;
}

/* плавный эффект на картинках , типо про */
img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
